VITE_302_API_KEY=
VITE_302_BASE_URL=https://api.302.ai

VITE_302_ROUTE_CHAT_COMPLETIONS=/v1/chat/completions
VITE_302_ROUTE_IMAGE_GENERATIONS=/v1/images/generations
VITE_302_ROUTE_IMAGE_EDITS=/v1/images/edits
VITE_302_ROUTE_VIDEO_GENERATIONS=/302/video/submit
VITE_302_ROUTE_MUSIC_GENERATIONS=/suno/submit/music
VITE_302_TASK_STATUS_ROUTE_TEMPLATE=/302/v2/image/fetch/{taskId}
